$light-purple: #E8E1EF;
$ice-blue: #D9FFF8;
$wow-green: #C7FFDA;
$mellow-green: #C4F4C7;
$forest-green: #9BB291;

@import url('https://fonts.googleapis.com/css?family=Joti+One');

$font-default: 'Joti One', cursive;
