$light-purple: #E8E1EF;
$ice-blue: #D9FFF8;
$wow-green: #C7FFDA;
$mellow-green: #C4F4C7;
$forest-green: #9BB291;

$wow-border: 3px dotted $wow-green;


.movie-index {
  h1 {
    color: $mellow-green;
  }
  h2 {
    color: $forest-green;
    border: $wow-border;
    text: {
      align: center;
      decoration: underline;
    }
  }
  p {
    border: $wow-border;
    font: {
      family: papyrus;
      size: 15px;
    }
  }
}
